.header{
    display: flex;
    flex: 0 0 auto;
    justify-content: space-around;
    padding: 50px 0px 30px 0px;
    .header_logo{
        display: flex;
        gap: 1rem; 
    }

    .logo{
        position: relative;
        color: #CFCFCF;
        cursor: pointer;
        .logo_title{
            font-weight: bold;
            font-size: 40px;
            padding-top: 5px;
            
        }

        .logo_image{
            position: absolute;
            top: -39px;
            left:52px;
        }

    }
    

    .input{
        display: flex;
        gap: 20px;
        align-self: center;
        
        input{
            max-height: 50px;
            border-radius: 3px;
            background-color: #000000;
            color: #FFFFFF;
            
        }
        .input_icon{
            cursor: pointer;
            align-self: center;
            color: #CFCFCF;
        }
    }

    .location_info{
        display: flex;
        gap: 10px;
        color: #FFFFFF;
        max-height: 40px;
        align-self: center;
        align-items: center;
        img{
            max-width: 100%;
            
        }
        .location_info_text{
            min-width: 100px;
            word-wrap: break-word;
        }
    }
}



@media screen and (max-width: 479px) {
    .header{
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 10px;
        padding-top: 30px;
        .header_logo{
            justify-content: space-between;
            .logo{
                .logo_title{
                    min-width: 137px;
                    font-size: 20px;    
                }
                .logo_image{
                    width: 4rem;
                    top: -49px;
                    left: 26px;
                }
        
            }
        }
        .input_icon{
            display: none;
        }

        .ap-dataset-places{
            padding: 50px;
            margin: 0;
        }
    }
    .ap-suggestion{
        padding: 0;
         margin: 0;
         height: 20px;
    }
    
  }
  

  @media screen and (max-width: 991px) {
    .header{
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 10px;
        padding-top: 30px;
        .header_logo{
            justify-content: space-evenly;
            .logo{
                .logo_title{
                    font-size: 20px;    
                }
                .logo_image{
                    width: 4rem;
                    top: -49px;
                    left: 26px;
                }
        
            }
        }
      
    }
  }